@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItens.Any()){
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="~/images/cart-5-16.ico" /></span>
        <span class="text-white">
            @Model.CarrinhoCompra.CarrinhoCompraItens.Count()
        </span>
    </a>
}